@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.561);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.286);
}

header div {
    display: flex;
    align-items: end;
}

header button {
    padding: 2px;
    margin-left: 5px;
    border: none;
    background-color: transparent;
    font-size: 20px;
}

header img {
    padding: 5px;
}

#container-produto{
    display: flex;
    flex-wrap: wrap;
}

.card-produto{
    border: 2px skyblue solid;
    width: 16vw;
    margin: 3vw;
    padding: 0.5vw;

}

.card-produto img{
    width: 16vw;
}