@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    border: none;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

body {
    padding-top: 130px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.286);
    z-index: 80;
}

header div {
    width: 100vw;
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: end;
}

header button {
    padding: 2px;
    margin-left: 5px;
    border: none;
    background-color: transparent;
    font-size: 20px;
}

#ultimo-botao{
    padding-right: 25px;
    padding-left: 5px;
}

header img {
    padding: 5px;
}

#carrinho {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    right: -1000px;
    z-index: 90;
    background-color: rgb(240, 240, 240);
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.250);
    height: 100vh;
    width: 45vw;
    transition: 100ms;
    padding: 10px;
}

section#carrinho button {
    font-size: 25px;
    margin-bottom: 15px;
}

#cabecalho-carrinho {
    display: flex;
    justify-content: space-between;
}

button#fechar-carrinho :hover {
    font-size: 26px;
    transform: translate(-2px, -2px);
    animation-duration: 100ms;
}

#produtos-do-carrinho {
    height: 60vh;
    overflow-y: auto;
}

article.produto-carrinho {
    display: flex;
    background-color: gray;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 7px;
}

div.info-produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.botoes-produto {
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: end;
    position: absolute;
    bottom: 0px;
    right: 2px;
}

article.produto-carrinho p {
    padding: 10px;
    color: rgb(251, 251, 251);
}

article.produto-carrinho p#preco {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 20px;
}


article.produto-carrinho img {
    width: 14vw;
}

button.remover-produto{
    position: absolute;
    top: 6px;
    right: 9px;
    color: rgba(0, 0, 0, 0.626);
}

button#remover-produto:hover{
    color: black;
}

#preco-total {
    background-color: gray;
    margin: 5px;
    padding: 6px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 9px;
    color: #0a2500;
}

#fim-compra {
    background-color: rgb(67, 65, 65);
    color: #ffffff;
    padding: 5px;
    margin: 3px 3px 3px 0px;
    font-size: 20px;
}

#container-produto{
    display: flex;
    flex-wrap: wrap;
}

.card-produto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.463);
    width: 16vw;
    margin: 3vw;
}

.card-produto img{
    border-radius: 7px;
    width: 16vw;
}

.card-produto:hover img{
    transform: translate(5px, -7px);
    animation: 300ms;
}

button.botao-adicionar {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 7px;
}

button.botao-adicionar:hover {
    background-color: rgb(80, 80, 80);
}